[submodule ".emacs.d/vendor/google-maps"]
	path = .emacs.d/vendor/google-maps
	url = git://git.naquadah.org/~jd/jd-el.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".emacs.d/vendor/robmyers-scripts"]
	path = .emacs.d/vendor/robmyers-scripts
	url = git://gitorious.org/robmyers/scripts.git
