[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".emacs.d/vendor/robmyers-scripts"]
	path = .emacs.d/vendor/robmyers-scripts
	url = git://gitorious.org/robmyers/scripts.git
[submodule ".emacs.d/vendor/git-commit-mode"]
	path = .emacs.d/vendor/git-commit-mode
	url = https://github.com/rafl/git-commit-mode.git
[submodule ".emacs.d/vendor/yaml-mode"]
	path = .emacs.d/vendor/yaml-mode
	url = https://github.com/yoshiki/yaml-mode
[submodule ".emacs.d/vendor/coffee-mode"]
	path = .emacs.d/vendor/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
