[submodule ".emacs.d/vendor/google-maps"]
	path = .emacs.d/vendor/google-maps
	url = git://git.naquadah.org/~jd/jd-el.git
[submodule ".emacs.d/vendor/twilight-emacs"]
	path = .emacs.d/vendor/twilight-emacs
	url = http://github.com/crafterm/twilight-emacs.git
